extends layout

block content
  div(style="text-align:center; width:100%;"): img(src='https://bridgeprotocolstorage.blob.core.windows.net/cdn/bridge-logo-black.png', style='text-align:center; width:150px;')
  div(style="text-align:center; width:100%;")='Bridge Protocol Integration Service'
  div(style="text-align:center; width:100%;")=version
